<div id="<%= dom_id unit %>">
  <p>
    <strong>Char name:</strong>
    <%= unit.char_name %>
  </p>

  <p>
    <strong>B lvl:</strong>
    <%= unit.b_lvl %>
  </p>

  <p>
    <strong>B hp:</strong>
    <%= unit.b_hp %>
  </p>

  <p>
    <strong>B str:</strong>
    <%= unit.b_str %>
  </p>

  <p>
    <strong>B mag:</strong>
    <%= unit.b_mag %>
  </p>

  <p>
    <strong>B dex:</strong>
    <%= unit.b_dex %>
  </p>

  <p>
    <strong>B spd:</strong>
    <%= unit.b_spd %>
  </p>

  <p>
    <strong>B def:</strong>
    <%= unit.b_def %>
  </p>

  <p>
    <strong>B res:</strong>
    <%= unit.b_res %>
  </p>

  <p>
    <strong>B lck:</strong>
    <%= unit.b_lck %>
  </p>

  <p>
    <strong>B bld:</strong>
    <%= unit.b_bld %>
  </p>

  <p>
    <strong>B mov:</strong>
    <%= unit.b_mov %>
  </p>

  <p>
    <strong>G hp:</strong>
    <%= unit.g_hp %>
  </p>

  <p>
    <strong>G str:</strong>
    <%= unit.g_str %>
  </p>

  <p>
    <strong>G mag:</strong>
    <%= unit.g_mag %>
  </p>

  <p>
    <strong>G dex:</strong>
    <%= unit.g_dex %>
  </p>

  <p>
    <strong>G spd:</strong>
    <%= unit.g_spd %>
  </p>

  <p>
    <strong>G def:</strong>
    <%= unit.g_def %>
  </p>

  <p>
    <strong>G res:</strong>
    <%= unit.g_res %>
  </p>

  <p>
    <strong>G lck:</strong>
    <%= unit.g_lck %>
  </p>

  <p>
    <strong>G bld:</strong>
    <%= unit.g_bld %>
  </p>

</div>
